{% extends "app/base.html" %}
{% load static %}

{% block title %}password change done {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}<h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="#" class="btn btn-primary">Change Passsword Done</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3> Passsword Changed Successfully !!!</h3> 
                <div>
                    <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                
                </div>
        </div>
</div>
{% endblock main-content %}