{% extends "app/base.html" %}
{% load static %}

{% block title %}login{% endblock title %}

{% block main-content %}
<div class="container">
    <di class="row my-3">
        <d class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed </h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>    
{% endblock main-content %}