{% extends "app/base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row">
        <h3 class="mb-4">Welcome, <span class="text-capitalize text-primary">{{ request.user }}</span></h3>

        <!-- Sidebar Navigation -->
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid mb-2"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-outline-primary">Address</a></li>
            </ul>
        </div>

        <!-- Profile Form -->
        <div class="col-sm-8 offset-sm-1">
            <div class="card shadow p-4">
                <h4 class="text-center text-primary">Edit Your Profile</h4>
                <hr>

                <form action="" method="post">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="mb-3">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                    {% endfor %}

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                    </div>

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger mt-3">{{ errors }}</p>
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }} mt-3" role="alert">
                        {{ msg }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
